{% if ${country} == 'AU' %}
<table class="full-width" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top">
      <a clicktracking=off href="{{ Link01 }}?lid=quzaxqu89h1u" style="font-family:Avenir, Helvetica, Arial, sans-serif; font-size:12px; color:#000000;" target="_blank">
        <img alt="ENDS SUNDAY – 30% OFF EVERYTHING. Shop Now. Excludes OCRF White Shirts. T&Cs Apply." class="full-width" src="https://braze-images.com/appboy/communication/assets/image_assets/images/667ccac5c59812005a4d4e73/original.jpg?1719454405" style="display: block; color: #54565B; font-family: sans-serif; font-size: 24px; width: 600px; max-width: 100%; margin-top: 0px; margin-right: 0px !important; margin-bottom: 0px; margin-left: 0px !important; padding: 0px; text-align: center;" width="600" height="635">
      </a>
    </td>
  </tr>
</table>
{% else %}
<table class="full-width" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top">
      <a clicktracking=off href="{{ Link01 }}?lid=jr7qy533r907" style="font-family:Avenir, Helvetica, Arial, sans-serif; font-size:12px; color:#000000;" target="_blank">
        <img alt="ENDS SUNDAY – 30% OFF FULL PRICE. Shop Now. Excludes OCRF White Shirts. T&Cs Apply." class="full-width" src="https://braze-images.com/appboy/communication/assets/image_assets/images/667ccac61c0e4d005be6e9f7/original.jpg?1719454406" style="display: block; color: #54565B; font-family: sans-serif; font-size: 24px; width: 600px; max-width: 100%; margin-top: 0px; margin-right: 0px !important; margin-bottom: 0px; margin-left: 0px !important; padding: 0px; text-align: center;" width="600" height="635">
      </a>
    </td>
  </tr>
</table>
{% endif %}

<table class="full-width" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top">
      <a clicktracking=off href="{{ Link02 }}?lid=mst0p2d3vw1a" style="font-family:Avenir, Helvetica, Arial, sans-serif; font-size:12px; color:#000000;" target="_blank">
        <img alt="BEST SELLERS – Discover the styles that are in demand this season. From exquisite fabrications to directional silhouettes and more, these are the trending pieces you won’t want to miss out on. Discounted prices featured below and applied automatically at checkout." class="full-width" src="https://braze-images.com/appboy/communication/assets/image_assets/images/667ccabf34ef33005adb870d/original.png?1719454398" style="display: block; color: #54565B; font-family: sans-serif; font-size: 24px; width: 600px; max-width: 100%; margin-top: 0px; margin-right: 0px !important; margin-bottom: 0px; margin-left: 0px !important; padding: 0px; text-align: center;" width="600" height="415">
      </a>
    </td>
  </tr>
</table>

{% if ${country} == 'NZ' %}
<table class="full-width" width="600" border="0" align="center" cellpadding="0" cellspacing="0">

  <tr>
    <td valign="top" align="center" width="50%"><a clicktracking=off href="{{ Link03 }}" style="font-family:Avenir, Helvetica, Arial, sans-serif; font-size:12px; color:#000000;" target="_blank"><img class="full-width" src="https://braze-images.com/appboy/communication/assets/image_assets/images/667e2ff68c37dc005940cb12/original.jpg?1719545845" alt="Wool Cashmere Lapel Coat" width="300" height="465" style="display: block; color: #54565b; font-family: sans-serif; font-size: 24px; width: 100%; max-width: 100%; margin: 0 !important;" border="0"></a></td>

    <td valign="top" align="center" width="50%"><a clicktracking=off href="{{ Link04 }}" style="font-family:Avenir, Helvetica, Arial, sans-serif; font-size:12px; color:#000000;" target="_blank"><img class="full-width" src="https://braze-images.com/appboy/communication/assets/image_assets/images/667e2ff6b473440065110215/original.jpg?1719545846" alt="Wool V Cut Out Knit" width="300" height="465" style="display: block; color: #54565b; font-family: sans-serif; font-size: 24px; width: 100%; max-width: 100%; margin: 0 !important;" border="0"></a></td>
  </tr>

</table>

<table class="full-width" width="600" border="0" align="center" cellpadding="0" cellspacing="0">

  <tr>
    <td valign="top" align="center" width="50%"><a clicktracking=off href="{{ Link05 }}" style="font-family:Avenir, Helvetica, Arial, sans-serif; font-size:12px; color:#000000;" target="_blank"><img class="full-width" src="https://braze-images.com/appboy/communication/assets/image_assets/images/667e2ffb1eeeb1005a0f42a2/original.jpg?1719545851" alt="Wool Blend Boat Neck Knit" width="300" height="470" style="display: block; color: #54565b; font-family: sans-serif; font-size: 24px; width: 100%; max-width: 100%; margin: 0 !important;" border="0"></a></td>

    <td valign="top" align="center" width="50%"><a clicktracking=off href="{{ Link06 }}" style="font-family:Avenir, Helvetica, Arial, sans-serif; font-size:12px; color:#000000;" target="_blank"><img class="full-width" src="https://braze-images.com/appboy/communication/assets/image_assets/images/667e2ff5b47344005b119432/original.jpg?1719545845" alt="Tactile Longline Knit Cardigan" width="300" height="470" style="display: block; color: #54565b; font-family: sans-serif; font-size: 24px; width: 100%; max-width: 100%; margin: 0 !important;" border="0"></a></td>
  </tr>

</table>

<table class="full-width" width="600" border="0" align="center" cellpadding="0" cellspacing="0">

  <tr>
    <td valign="top" align="center" width="50%"><a clicktracking=off href="{{ Link07 }}" style="font-family:Avenir, Helvetica, Arial, sans-serif; font-size:12px; color:#000000;" target="_blank"><img class="full-width" src="https://braze-images.com/appboy/communication/assets/image_assets/images/667e2ffa1eeeb1005a0f42a1/original.jpg?1719545850" alt="Stripe Wool Crew Neck Knit" width="300" height="470" style="display: block; color: #54565b; font-family: sans-serif; font-size: 24px; width: 100%; max-width: 100%; margin: 0 !important;" border="0"></a></td>

    <td valign="top" align="center" width="50%"><a clicktracking=off href="{{ Link08 }}" style="font-family:Avenir, Helvetica, Arial, sans-serif; font-size:12px; color:#000000;" target="_blank"><img class="full-width" src="https://braze-images.com/appboy/communication/assets/image_assets/images/667e2ff5cd26e900585d3ab8/original.jpg?1719545845" alt="Cinched Anorak " width="300" height="470" style="display: block; color: #54565b; font-family: sans-serif; font-size: 24px; width: 100%; max-width: 100%; margin: 0 !important;" border="0"></a></td>
  </tr>

</table>

{% else %}

<table class="full-width" width="600" border="0" align="center" cellpadding="0" cellspacing="0">

  <tr>
    <td valign="top" align="center" width="50%"><a clicktracking=off href="{{ Link03 }}?lid=sdbs6pm9l2p9" style="font-family:Avenir, Helvetica, Arial, sans-serif; font-size:12px; color:#000000;" target="_blank"><img class="full-width" src="https://braze-images.com/appboy/communication/assets/image_assets/images/667ccabc7a382c005b37eece/original.jpg?1719454396" alt="Wool Cashmere Lapel Coat" width="300" height="465" style="display: block; color: #54565b; font-family: sans-serif; font-size: 24px; width: 100%; max-width: 100%; margin: 0 !important;" border="0"></a></td>

    <td valign="top" align="center" width="50%"><a clicktracking=off href="{{ Link04 }}?lid=ykhz4oos8ubz" style="font-family:Avenir, Helvetica, Arial, sans-serif; font-size:12px; color:#000000;" target="_blank"><img class="full-width" src="https://braze-images.com/appboy/communication/assets/image_assets/images/667ccac6ed04c300653c9c9c/original.jpg?1719454406" alt="Wool V Cut Out Knit" width="300" height="465" style="display: block; color: #54565b; font-family: sans-serif; font-size: 24px; width: 100%; max-width: 100%; margin: 0 !important;" border="0"></a></td>
  </tr>

</table>

<table class="full-width" width="600" border="0" align="center" cellpadding="0" cellspacing="0">

  <tr>
    <td valign="top" align="center" width="50%"><a clicktracking=off href="{{ Link05 }}?lid=3f3nuljvbl35" style="font-family:Avenir, Helvetica, Arial, sans-serif; font-size:12px; color:#000000;" target="_blank"><img class="full-width" src="https://braze-images.com/appboy/communication/assets/image_assets/images/667ccac134ef33005adb870e/original.jpg?1719454401" alt="Wool Blend Boat Neck Knit" width="300" height="470" style="display: block; color: #54565b; font-family: sans-serif; font-size: 24px; width: 100%; max-width: 100%; margin: 0 !important;" border="0"></a></td>

    <td valign="top" align="center" width="50%"><a clicktracking=off href="{{ Link06 }}?lid=gmqutcrfia1j" style="font-family:Avenir, Helvetica, Arial, sans-serif; font-size:12px; color:#000000;" target="_blank"><img class="full-width" src="https://braze-images.com/appboy/communication/assets/image_assets/images/667ccac3c59812005a4d4e72/original.jpg?1719454403" alt="Tactile Longline Knit Cardigan" width="300" height="470" style="display: block; color: #54565b; font-family: sans-serif; font-size: 24px; width: 100%; max-width: 100%; margin: 0 !important;" border="0"></a></td>
  </tr>

</table>

<table class="full-width" width="600" border="0" align="center" cellpadding="0" cellspacing="0">

  <tr>
    <td valign="top" align="center" width="50%"><a clicktracking=off href="{{ Link07 }}?lid=gz476u4tqxh6" style="font-family:Avenir, Helvetica, Arial, sans-serif; font-size:12px; color:#000000;" target="_blank"><img class="full-width" src="https://braze-images.com/appboy/communication/assets/image_assets/images/667ccac6ed04c3005a3cffec/original.jpg?1719454406" alt="Stripe Wool Crew Neck Knit" width="300" height="470" style="display: block; color: #54565b; font-family: sans-serif; font-size: 24px; width: 100%; max-width: 100%; margin: 0 !important;" border="0"></a></td>

    <td valign="top" align="center" width="50%"><a clicktracking=off href="{{ Link08 }}?lid=lnokxnzk9hxs" style="font-family:Avenir, Helvetica, Arial, sans-serif; font-size:12px; color:#000000;" target="_blank"><img class="full-width" src="https://braze-images.com/appboy/communication/assets/image_assets/images/667ccacbc59812005a4d4e95/original.jpg?1719454411" alt="Cinched Anorak " width="300" height="470" style="display: block; color: #54565b; font-family: sans-serif; font-size: 24px; width: 100%; max-width: 100%; margin: 0 !important;" border="0"></a></td>
  </tr>

</table>

<table class="full-width" width="600" border="0" align="center" cellpadding="0" cellspacing="0">

  <tr>
    <td valign="top" align="center" width="50%"><a clicktracking=off href="{{ Link09 }}?lid=jln5k3lyk75g" style="font-family:Avenir, Helvetica, Arial, sans-serif; font-size:12px; color:#000000;" target="_blank"><img class="full-width" src="https://braze-images.com/appboy/communication/assets/image_assets/images/667ccac714c53a005a7f0796/original.jpg?1719454406" alt="Super High Rise Jean" width="300" height="485" style="display: block; color: #54565b; font-family: sans-serif; font-size: 24px; width: 100%; max-width: 100%; margin: 0 !important;" border="0"></a></td>

    <td valign="top" align="center" width="50%"><a clicktracking=off href="{{ Link10 }}?lid=9p3k978sdfar" style="font-family:Avenir, Helvetica, Arial, sans-serif; font-size:12px; color:#000000;" target="_blank"><img class="full-width" src="https://braze-images.com/appboy/communication/assets/image_assets/images/667ccac97a382c005b37eef2/original.jpg?1719454409" alt="Tactile Knit Cardigan" width="300" height="485" style="display: block; color: #54565b; font-family: sans-serif; font-size: 24px; width: 100%; max-width: 100%; margin: 0 !important;" border="0"></a></td>
  </tr>

</table>
{% endif %}


{% if ${country} == 'NZ' %}
<!-- Spacer -->

<table class="full-width" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top">
      <a href="{{ Link11 }}?lid=4gkv3cikqif6" style="font-family:Avenir, Helvetica, Arial, sans-serif; font-size:12px; color:#000000;" target="_blank">
        <img alt="End of Season Sale – Take a Further 40% Off Sale. Shop Now. T&Cs Apply." class="full-width" src="https://braze-images.com/appboy/communication/assets/image_assets/images/667ccacbed04c3005a3cfff4/original.png?1719454411" style="display: block; color: #54565B; font-family: sans-serif; font-size: 24px; width: 600px; max-width: 100%; margin-top: 0px; margin-right: 0px !important; margin-bottom: 0px; margin-left: 0px !important; padding: 0px; text-align: center;" width="600" height="490">
      </a>
    </td>
  </tr>
</table>
{% endif %}

{% if {{custom_attribute.${postcode}}} == '3011' 
or {{custom_attribute.${postcode}}} == '3012' 
or {{custom_attribute.${postcode}}} == '3013'  
or {{custom_attribute.${postcode}}} == '3019' 
or {{custom_attribute.${postcode}}} == '3031'  
or {{custom_attribute.${postcode}}} == '3032'  
or {{custom_attribute.${postcode}}} == '3034'  
or {{custom_attribute.${postcode}}} == '3039'  
or {{custom_attribute.${postcode}}} == '3040'  
or {{custom_attribute.${postcode}}} == '3041'  
or {{custom_attribute.${postcode}}} == '3052'  
or {{custom_attribute.${postcode}}} == '3055'  %}
<table align="center" border="0" cellpadding="0" cellspacing="0" class="full-width" width="600" bgcolor="#000000">
  <tr>
    <td align="center" valign="top">
      <img alt="" class="full-width" src="https://braze-images.com/appboy/communication/assets/image_assets/images/667cd37414c53a005a7f1aa4/original.png?1719456628" style="display: block; color: #54565B; font-family: sans-serif; font-size: 24px; width: 600px; max-width: 100%; margin-top: 0px; margin-right: 0px !important; margin-bottom: 0px; margin-left: 0px !important; padding: 0px; text-align: center;" width="600" height="25">
    </td>
  </tr>
  <tr>
    <td align="left" class="left-copy-pad-12" style="font-family: Helvetica, Arial, sans-serif; font-size: 18px; line-height: 26px; letter-spacing: 0.04em; text-align: left; color:#ffffff;font-weight:normal;padding: 0 0 0 26px;">Hi {{${first_name}}},</td>
  </tr>
  <tr>
    <td align="center" valign="top">
      <img alt="Have you visited our new-look Highpoint store yet? Visit the team this weekend and enjoy 30% Off everything, until Sunday only." class="full-width" src="https://braze-images.com/appboy/communication/assets/image_assets/images/667cd37614c53a005a7f1aa5/original.png?1719456630" style="display: block; color: #54565B; font-family: sans-serif; font-size: 24px; width: 600px; max-width: 100%; margin-top: 0px; margin-right: 0px !important; margin-bottom: 0px; margin-left: 0px !important; padding: 0px; text-align: center;" width="600" height="135">
    </td>
  </tr>
  <tr>
    <td align="center" valign="top">
      <a clicktracking=off href="{{ Link12 }}?lid=7fgpoidkj7ro" style="font-family:Avenir, Helvetica, Arial, sans-serif; font-size:12px; color:#000000;" target="_blank">
        <img alt="Store Details" class="full-width" src="https://braze-images.com/appboy/communication/assets/image_assets/images/667cd3751c0e4d0065e6e928/original.png?1719456628" style="display: block; color: #54565B; font-family: sans-serif; font-size: 24px; width: 600px; max-width: 100%; margin-top: 0px; margin-right: 0px !important; margin-bottom: 0px; margin-left: 0px !important; padding: 0px; text-align: center;" width="600" height="95">
      </a>
    </td>
  </tr>
</table>
{% endif %}


{% if {{custom_attribute.${postcode}}} == '5038' 
or {{custom_attribute.${postcode}}} == '5039' 
or {{custom_attribute.${postcode}}} == '5041'  
or {{custom_attribute.${postcode}}} == '5042' 
or {{custom_attribute.${postcode}}} == '5043'  
or {{custom_attribute.${postcode}}} == '5044'  
or {{custom_attribute.${postcode}}} == '5045'  
or {{custom_attribute.${postcode}}} == '5046'  
or {{custom_attribute.${postcode}}} == '5047'  
or {{custom_attribute.${postcode}}} == '5048'  
or {{custom_attribute.${postcode}}} == '5050'  
or {{custom_attribute.${postcode}}} == '5062' %}
<table align="center" border="0" cellpadding="0" cellspacing="0" class="full-width" width="600" bgcolor="#000000">
  <tr>
    <td align="center" valign="top">
      <img alt="" class="full-width" src="https://braze-images.com/appboy/communication/assets/image_assets/images/667cd37414c53a005a7f1aa4/original.png?1719456628" style="display: block; color: #54565B; font-family: sans-serif; font-size: 24px; width: 600px; max-width: 100%; margin-top: 0px; margin-right: 0px !important; margin-bottom: 0px; margin-left: 0px !important; padding: 0px; text-align: center;" width="600" height="25">
    </td>
  </tr>
  <tr>
    <td align="left" class="left-copy-pad-12" style="font-family: Helvetica, Arial, sans-serif; font-size: 18px; line-height: 26px; letter-spacing: 0.04em; text-align: left; color:#ffffff;font-weight:normal;padding: 0 0 0 26px;">Hi {{${first_name}}},</td>
  </tr>
  <tr>
    <td align="center" valign="top">
      <img alt="Have you visited our new-look Marion store yet? Visit the team this weekend and enjoy 30% Off everything, until Sunday only." class="full-width" src="https://braze-images.com/appboy/communication/assets/image_assets/images/667cd3761c0e4d0065e6e929/original.png?1719456630" style="display: block; color: #54565B; font-family: sans-serif; font-size: 24px; width: 600px; max-width: 100%; margin-top: 0px; margin-right: 0px !important; margin-bottom: 0px; margin-left: 0px !important; padding: 0px; text-align: center;" width="600" height="135">
    </td>
  </tr>
  <tr>
    <td align="center" valign="top">
      <a clicktracking=off href="{{ Link13 }}?lid=2axr7mm4odxh" style="font-family:Avenir, Helvetica, Arial, sans-serif; font-size:12px; color:#000000;" target="_blank">
        <img alt="Store Details" class="full-width" src="https://braze-images.com/appboy/communication/assets/image_assets/images/667cd3751c0e4d0065e6e928/original.png?1719456628" style="display: block; color: #54565B; font-family: sans-serif; font-size: 24px; width: 600px; max-width: 100%; margin-top: 0px; margin-right: 0px !important; margin-bottom: 0px; margin-left: 0px !important; padding: 0px; text-align: center;" width="600" height="95">
      </a>
    </td>
  </tr>
</table>
{% endif %}





WITCH

  AU
  Member - janettefisher56@gmail.com
  Bronze - ogilviealisa@gmail.com
  Silver - annie_esber63@hotmail.com
  Gold - rima@ceerose.com.au

  NZ
  Gold - anna.penny@gmail.com
  Silver - paulaannecallahan@hotmail.com
  Bronze - janegepstudio@gmail.com
  Member - suewills35@gmail.com

